/* Fonts */

/* Logo font - Italianno */
@font-face {
  /* Italianno Regular */
  font-family: 'Italianno';

  src:  local('Italianno Regular'), local('Italianno-Regular'),
        url('assets/fonts/italianno/subset-Italianno-Regular.woff2') format('woff2'),
        url('assets/fonts/italianno/subset-Italianno-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;

  font-display: block;
}

/* Heading font - Playfair display */
@font-face {
  /* Playfair Display Bold */
  font-family: 'Playfair Display';

  src:  local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
        url('assets/fonts/playfair-display/subset-PlayfairDisplay-Bold.woff2') format('woff2'),
        url('assets/fonts/playfair-display/subset-PlayfairDisplay-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;

  font-display: swap;
}

/* Paragraph font - Cormorant */

@font-face {
  /* Cormorant Medium */
  font-family: 'Cormorant';

  src:  local('Cormorant Medium'), local('Cormorant-Medium'),
        url('assets/fonts/cormorant/subset-Cormorant-Medium.woff2') format('woff2'),
        url('assets/fonts/cormorant/subset-Cormorant-Medium.woff') format('woff');

  font-weight: 500;
  font-style: normal;

  font-display: swap;
}

@font-face {
  /* Cormorant Medium Italic */
  font-family: 'Cormorant';

  src:  local('Cormorant Medium Italic'), local('Cormorant-MediumItalic'),
        url('assets/fonts/cormorant/subset-Cormorant-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/cormorant/subset-Cormorant-MediumItalic.woff') format('woff');

  font-weight: 500;
  font-style: italic;

  font-display: swap;
}

@font-face {
  /* Cormorant Bold */
  font-family: 'Cormorant';

  src:  local('Cormorant Bold'), local('Cormorant-Bold'),
        url('assets/fonts/cormorant/subset-Cormorant-Bold.woff2') format('woff2'),
        url('assets/fonts/cormorant/subset-Cormorant-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;

  font-display: swap;
}

@font-face {
  /* Cormorant Bold Italic */
  font-family: 'Cormorant';

  src:  local('Cormorant Bold Italic'), local('Cormorant-BoldItalic'),
        url('assets/fonts/cormorant/subset-Cormorant-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/cormorant/subset-Cormorant-BoldItalic.woff') format('woff');

  font-weight: bold;
  font-style: italic;

  font-display: swap;
}

/* CSS Variables */
:root {
  /* Fonts */

  /* TODO: Use separate fallback system font stacks for different fonts. Recommended source: Modern Font Stacks */

  --system-font-stack-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --logo-font: "Italianno", var(--system-font-stack-serif);
  --title-font: "Playfair Display", var(--system-font-stack-serif);
  --text-font: "Cormorant", var(--system-font-stack-serif);

  /* Colors */

  --background-color: linear-gradient(135deg, #1A1A1A 0%, #2C1810 25%, #3D2418 50%, #2C1810 75%, #1A1A1A 100%);;
  --foreground-color: #D4AF37;
  --text-color: #E0D4B8;

  /* Used in bottom borders of tab buttons on hover. */
  --foreground-color-transparent: #D4AD3780;
}

/* (0) General Styles*/

*, *::before, *::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

*:focus, *:focus-visible {
  outline: none;
}

a {
  color: var(--foreground-color);
}

a:hover, a:focus-visible, button:hover, button:focus-visible, #logo:hover {
  text-shadow: 0 0 8px var(--foreground-color);
}

button {
  appearance: none;
  border: none;

  cursor: pointer;
}

b {
  /* The bring attention to element (`b`) is not required to be rendered in bold as per the specification. */
  font-weight: bold;
}

i {
  /* The idiomatic text element (`i`) is not required to be rendered in italics as per the specification. */
  font-style: italic;
}

.highlighted {
  color: var(--foreground-color);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  place-items: center;

  height: 100vh;

  font-family: var(--text-font);

  background-image: var(--background-color);

  /* Forces the background to be fixed to the viewport without getting cut off on scrolling (as its size is smaller than the size of the viewport) */
  background-attachment: fixed;

  color: var(--text-color);
}

/* (1) Header styles */

header {
  padding-bottom: 64px;
}

#logo {
  font-family: var(--logo-font);
  font-size: 5rem;

  margin-top: 32px;
  margin-bottom: 16px;

  cursor: default;

  color: var(--foreground-color);
}

header > nav {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  font-family: var(--logo-font);
  font-size: 2rem;

  padding: 0 5px 2px 5px;

  background-color: transparent;
  color: var(--foreground-color);
}

.tab.active-tab, .tab:hover, .tab:focus-visible {
  --border-width: 4px;

  border-bottom: var(--border-width) solid var(--foreground-color);

  /* To prevent button text from shifting upwards on hover/keyboard focus. */
  padding-top: var(--border-width);
}

.tab:hover, .tab:focus-visible {
  border-bottom-color: var(--foreground-color-transparent);
}

/* (2) Content styles - Home tab */

#content {
  place-self: stretch;
}

#content > * {
  padding-left: 64px;
  padding-right: 16px;
}

#main-image-container {
  text-align: center;

  margin-bottom: 32px;
  padding: 0;
}

#headline {
  font-family: var(--title-font);
  font-size: 4rem;

  margin-bottom: 32px;
}

#main-image-container img, .item-image {
  border: 2px solid var(--foreground-color);
}

#text {
  font-size: 2rem;
}

.statement {
  margin-bottom: 20px;
}

.statement > p:not(:last-child) {
  margin-bottom: 8px;
}

#punchline {
  font-weight: bold;

  font-size: 1.1em;
}

/* (5) Content Styles - Menu tab */

#menu {
  --padding-left-right: 64px;

  list-style-type: none;

  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}

.menu-item {
  --padding-top-bottom: 64px;

  display: flex;
  flex-direction: column;
}

.menu-item:not(:first-child) {
  padding-top: var(--padding-top-bottom);
}

.menu-item-parent {
  display: flex;

  gap: 64px;

  padding-bottom: var(--padding-top-bottom);
}

.menu-item:nth-child(2n + 1) > .menu-item-parent {
  flex-direction: row-reverse;
}

.menu-item:not(:last-child)::after {
  content: '';

  align-self: center;

  width: 20%;
  height: 4px;

  background-color: var(--foreground-color);
}

.item-image {
  align-self: center;
  flex: 1.2;

  display: grid;
  place-content: center;

  font-size: 1.5rem;
  font-weight: bold;

  text-transform: uppercase;

  /* Force all image containers to have the same height, even when they contain no images or images of different dimensions. */
  height: 350px;

  /* Prevent the cursor from changing appearance on hovering over the "Photo unavailable" text. */
  cursor: default;

  color: var(--foreground-color);
}

.item-text {
  flex: 3;

  display: flex;
  flex-direction: column;

  padding: 16px 0;
}

.item-image > img {
  width: 100%;
  height: 100%;
}

.item-name {
  font-family: var(--title-font);
  font-size: 3rem;
  
  margin-bottom: 24px;

  color: var(--foreground-color);
}

.item-description > p {
  margin-bottom: 16px;
}

.item-description, .item-price {
  font-size: 2rem;
}

.item-price {
  margin-top: auto;

  color: var(--foreground-color);
}

/* (3) Footer styles */

footer {
  width: 100%;

  margin-top: 48px;
  padding: 16px 0;
  border-top: 1px solid var(--foreground-color);

  text-align: center;

  font-size: 1.5rem;
}
